.tool-bar {
    background-size: 100%;
    margin: 85px 15%;
}

@media screen and (max-width: 670px) {
    
}

.tool-bar h1{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 300;
    margin: 0;
}

.tool-bar button{
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    background: #2EA1f8; 
    max-height: 55px;
    margin: 5px;
    padding: 21px 28px;
    border-radius: 4px;
}

.tool-bar{
    display: flex;
    justify-content: space-between;
}

